

/* Style the header */
.background {
  background-color: black;
}
.navbar {

  top: 0;
  position: sticky;
  height: 50px;
  background-color: black;


}
.navbar button {


    display: block;
    float: right;
    height: 50px;
    width: 200px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    border-color: black;
    border-style: solid;
  
}

.navbar button.resume {


    display: block;
    float: right;
    height: 50px;
    width: 200px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    border-color: #75FBC0;
    border-style: solid;
    font-size: 25px;
    color:#E45E75;
    border-radius: 15px;
 
}


.clear {
    clear: both;
}

.lsg{
  font-size: 25px;

  color: #75FBC0;
}
.subj{
  font-size: 25px;

  display: inline;
  color:#E45E75;
}


.project1{
  padding-top: 1000px;
  position: bottom:  -400px;
  margin-left: 100px;
 


}

.ptitle{ 

  font-style: "Partua One";
  color: white;
  font-size: 35px;


}
.briefdesc{
  font-style: "K2D";
  font-size: 25px;
  color:#75FBC0;



}

.desc{


  width: 800px;
  padding: 20px;
  height: 120px;
 
  border-radius: 25px;
  background-color: #E45E75;

  font-style: "K2D";
  font-size: 25px;
  color:white;
}

.otherdesc{
 
  width: 250px;
  padding: 20px;
  height: 250px;
  margin-left: 115px;

  float: left;

 
  border-radius: 25px;
  background-color: #E45E75;

  font-style: "K2D";
  font-size: 20px;
  color:white;

}

.titleother{

  font-style: "Partua One";
  font-size: 35px;
  text-align: center;
  color:white;
}


.project{
  padding-top: 30px;



}

.secproj{
  position: relative;
 
  height: 70%;
  width: 100%;

}


.expbut {
  display: block;
  font-style: "K2D";
  font-size: 25px;
  color:#E45E75;
  background-color: black;
  border-color: black;
  border-left: 4px solid #E45E75;
  border-style: solid;
  text-align: left;
  height: 60px;
  margin-bottom: 30px;


}
.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;

}

button.expbut:hover{
  color:#75FBC0 !important;
  border-left: 4px solid #75FBC0 !important;
}



.exptitle{
  font-style: "K2D";
  font-size: 25px;
  color:white;
  text-align: left;

}
.company{
  font-style: "K2D";
  font-size: 25px;
  color: #75FBC0;
  text-align: left;

}

#p2{
  display:inline;
  }

.dates{
  font-style: "K2D";
  font-size: 15px;
  color: #E45E75;
  text-align: left;
  margin-top: -10px;

}
.expdesc{
  font-style: "K2D";
  font-size: 15px;
  color: white;
  text-align: left;

}

.arrow-right {
   border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #75FBC0;
    border-top: 5px solid transparent;
    display: inline-block;

    transform: rotate(90deg);

 
}


.other{
  font-style: "K2D";
  font-size: 50px;
  color:white;
  text-align: center;

}
.about {
  font-size: 25px;
  background-color: black;

  background: linear-gradient(to right, #75FBC0 0% , #75FBC0 32%, #E45E75 0% , #E45E75 67%, #75FBC0 68%, #75FBC0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects{
  font-size: 25px;
  background-color: black;

  background: linear-gradient(to right, #75FBC0 0% , #75FBC0 25%, #E45E75 0% , #E45E75 74%, #75FBC0 75%, #75FBC0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.experience{
  font-size: 25px;
  background-color: black;

  background: linear-gradient(to right, #75FBC0 0% , #75FBC0 18%, #E45E75 0% , #E45E75 81%, #75FBC0 82%, #75FBC0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  padding: 90px;
  left;
  vertical-align : middle;
  display : inline-block;
  line-height : 10px;
  margin-top: 100px; 

}

.logo{
  position: sticky;
  top: 0px;
  left;
}
.main{
   float: right;
   width: 100%;

}
.prof{

  float: right;
  vertical-align: middle; 
  margin-top: 100px;
  padding:100px; 
  right: -50px;


  

}
/* Increase the font size of the h1 element */
.h1 {
  font-size: 40px;
  color: blue;
}

.vl {
  border-left: 4px solid white;
  height: 130px;
  left: 40px;
  bottom: 0;
  position: sticky;

 
}

.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        bottom: 0px;
        width: 50px;
        height: 180px;
       
        margin-left: 20px;
        
        

        position: fixed;

      }


.container img {

  width: 25px;
  height: 25px;
  padding: 10px;
            
      }


.rightfoot{
 
  bottom: 0px;
  width: 15px;
  height: 400px;
  left: 96%;
  margin-right: 20px;
   position: fixed;


}
  .vlright {
  border-left: 4px solid white;
  height: 90px;
  bottom: 0px;
  float: right;
  position: sticky;
 
}


.email {

font-style: "K2D";
color: white;
font-size: 30px;
writing-mode: vertical-lr;
bottom: 0px;
padding-right: 40px;
position: sticky;


}


.square {
  width: 400px;
  height: 400px;
  border-top: 5px solid #E45E75 ;
  border-right: 5px solid #E45E75 ;
  border-left: 5px solid #E45E75 ;
  border-bottom: 5px solid #E45E75 ;
  float: right;

  position: relative;
  display: inline-block;
  
  margin-top: -450px;
  margin-right: 100px;
}

.vltop {
  border-top: 5px solid #75FBC0;
  height: 30px;
  width: 1100px;
 
  position: relative;
  margin-left: 10px;
  margin-top: 0px;
  bottom: -20px;
  display: inline-block;


 
}






