

/* Style the header */
.background {
  background-color: black;
}
.header {
  padding: 90px;
  left;
  vertical-align : middle;
  display : inline-block;
  line-height : 10px;


}

/* Increase the font size of the h1 element */
.h1 {
  font-size: 40px;
  color: blue;
}